.view-product {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 500px calc(80vw - 600px - 24px);
  align-items: center;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  background-color: linen;
  padding: 40px;
  z-index: 5;
}
