nav {
  background-color: black;
  display: grid;
  position: fixed;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  width: 100%;
  top: 0;
  z-index: 11;
}

.nav_left {
  display: flex;
  align-items: center;
  justify-self: start;
}
.menu {
  color: black;
  height: 100%;
  width: 150px;
}

.menu-container {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--green-color);
  padding: 0 40px;
  z-index: 0;
  transition: color 0.4s ease-out;
  cursor: pointer;
}
.menu-container::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: black;
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}
.menu-container:hover {
  color: var(--green-color);
}
.menu-container:hover::after {
  transform: scale(1, 1);
  transform-origin: right;
}

.menu-container-active {
  background-color: var(--pink-color);
}

.show-menu {
  position: fixed;
  color: white;
  font-size: 32px;
  right: 0;
  left: 0;
  bottom: 0;
  top: 50px;
  background-color: black;
  padding: 32px;
  list-style: none;
  display: grid;
  place-items: center;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}
.show-menu-active {
  transform: scale(1, 1);
}
.show-menu li a {
  display: list-item;
  text-decoration: none;
  color: var(--light-gray);
}
.show-menu li a:hover {
  color: var(--pink-color);
}

.menu-container span {
  margin-left: 10px;
}

.search_bar {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.search_btn {
  height: 100%;
  width: 50px;
  font-size: 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo {
  color: var(--green-color);
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.nav_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  justify-self: end;
}
.shopping {
  position: relative;
  height: 30px;
}

.cart {
  font-size: 24px;
  padding: 0 8px;
  cursor: pointer;
  margin-left: 24px;
}

.notification {
  background-color: var(--green-color);
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  display: grid;
  top: -7px;
  right: -7px;
  place-content: center;
}
